@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');

:root {
    --primary-color: #C83B3F;
    --secondary-color: #1e1e1e;
    --tertiary-color: #484848;
    --quaternary-color: #8f8f8f;
}

*{
    font-family: 'Titillium Web', 'Noto Sans KR', sans-serif;
}

h1{
    font-weight: 600;
    font-size: 28px;
    color: var(--secondary-color);
}
h2{
    font-weight: 400;
    font-size: 24px;
    color: var(--tertiary-color);
}
h3{
    font-weight: 600;
    font-size: 21px;
    color: var(--tertiary-color);
}
p{
    font-weight: 400;
    font-size: 14px;
    color: var(--quaternary-color);
}
input[type='text'], input[type='password']{
    font-size: 14px;
    border: none;
    background: none;
    border-radius: 0;
    border-bottom: 1px solid #979797;
}
.sub_header {
    font-weight: 400;
	font-size: 16px;
    color: var(--tertiary-color);
}
.menu_text {
	font-weight: 700;
    font-size: 14px;
}
.caption {
    font-weight: 400;
    font-size: 12px;
}
.checkbox, .radiobox{
    font-size: 14px;
    cursor: pointer;
}
.checkbox input, .radiobox input{
    display: none;
}
.checkbox div, .radiobox div{
	border: 1px solid var(--primary-color);
    display: inline-block;
    position: relative;
    width: 12px;
    height: 12px;
    font-size: 12px;
    margin-bottom: -2px;
    background: #fff;
}
.checkbox div{
    border-radius: 3px;
}
.radiobox div{
	border-radius: 100%;
}
.checkbox input:checked+div{
    background: var(--primary-color);
    color: #fff;
}
.checkbox input:checked+div::after{
    content: '\2713';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.radiobox input:checked+div::after{
	content: '';
    width: 8px;
    height: 8px;
    border-radius: 100%;
    background: var(--primary-color);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.btn{
    background: #fff;
	font-weight: 400;
    font-size: 14px;
    padding: 0 10px;
    line-height: 3em;
    border-radius: 8px;
    cursor: pointer;
}
.btn.primary {
	background: var(--primary-color);
    color: #fff;
}
.tag_list {
	padding: initial;
    margin: initial;
}
.tag_list li{
    display: inline-block;
    color: var(--quaternary-color);
    border: 1px solid var(--quaternary-color);
    font-size: 12px;
    padding: 0 5px;
    line-height: 1.5em;
    border-radius: 1em;
    cursor: pointer;
}
.box_shadow{
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.50);
    border-radius: 8px;
}

#loading {
    background: var(--primary-color);
    color: #fff;
    fill: #fff;
}
#loading h1, #loading p{
	color: #fff;
}